.blog-index {
	max-width: 81rem;
	height: 100%;
	padding: calc(2vw + 1rem);
	margin: 4rem auto;
	margin-bottom: 6rem;

	header {
		display: flex;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem;
		justify-content: space-around;

		li {
			max-width: 27rem;
		}
	}

	.article-description {
		white-space: pre-wrap;
	}

	& > ul {
		padding: 0;

		li {
			display: block;

			a {
				display: block;
				color: inherit;
				text-decoration: none;

				&:hover {
					color: var(--color-emerald-800);
				}
			}
		}
	}
}
